@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #444444;
    font-weight: 500;
    font-size: 1.3rem;
}
.content {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.profile {
    position: relative;
    width: 270px;
    background-color: #27292B;
    overflow-y: scroll;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    float: left;
}
.profile__about {
    background-color: #2eb398;
}
.photo-wrap {
    padding: 2rem;
    padding-bottom: 0;
}
.photo-wrap__photo{
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
    clip-path: circle(45% at center);
}
.text-wrap {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}
.myname {
    text-align: center;
    color: white;
    font-size: 2rem;
}
.extract {
    color: white;
    text-align: center;
    font-size: 1rem;
}
.nav-social-wrap {
    background-color: #222;
    padding-bottom: 1rem;
    padding-top: 1rem; 
}
.nav-social{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.nav-social__item {
    display: inline-block;
}
.nav-social__link{
    padding: 1rem;
    cursor: pointer;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
.nav-section-wrap {
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.nav{
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 2rem;
}
.nav__item {
    display: block;
}
.nav__link {
    color: white;
    padding: .5rem;
    display: block;
    cursor: pointer;
}
.type-wrap{
    padding: 1rem 2rem;
}
.type-wrap__typewriter{
    margin: 0;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid #B2B2B2;
    letter-spacing: .15em;
    font-size: 1rem;
    display: inline-block;
    animation: typing 2s steps(30, end), blink-caret .5s infinite;
}
.type-wrap__typewriter--display{
    display: inline-block;
}
.slideRight{
    animation: slideRight .5s;
    margin-left: 80px;
}
.font-purple{
    color: #D16B7D;
}
.wrap__content{
    position: relative;
    padding: 2rem;
    overflow-y: scroll;
    height: 100%;
}
.wrap__content--margin {
    margin-left: 270px;
}
.section--hidden{
    display: none;
}
p.text-description {
    margin-bottom: 1rem;
}
/*Titles*/
.title-1{
    font-size: 3rem;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    margin-bottom: .8rem;
}
.title-2{
    font-size: 2rem;
    margin-top: .5rem;
    margin-bottom: .8rem;
}
.title-3{
    color: #444;
}
.title-4{
    color: #AA3C50;
}
.title-1--color-green{
    color: #4A917F;
}
.title-1--color-gray{
    color: #444;
}
.activities {
    padding: 2rem 0 2rem 2rem;
}
.icon{
    text-align: center;
    padding: .5rem 2rem;
    width: 5rem;
    box-sizing: content-box;
}
.icon__wrap {
    display: inline-block;
}
/*Animations*/
@-webkit-keyframes typing{
    from { width: 0; }
    to { width: 100%; }
}
@keyframes typing{
    from { width: 0; }
    to { width: 100%; }
}
@-webkit-keyframes blink-caret{
    from, to { border-color: transparent; }
    50% { border-color: #B2B2B2; }
}
@keyframes blink-caret{
    from, to { border-color: transparent; }
    50% { border-color: #B2B2B2; }
}
@-webkit-keyframes slideRight{
    from { margin-left: 0; }
    to { margin-left: 80px; }
}
@keyframes slideRight{
    from { margin-left: 0; }
    to { margin-left: 80px; }
}
@-webkit-keyframes slideUp{
    from { visibility: hidden; opacity: 0; }
    to { visibility: visible; opacity: 1; }
}
@keyframes slideUp{
    from { visibility: hidden; opacity: 0; }
    to { visibility: visible; opacity: 1; }
}
/*Grid*/
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media(min-width: 768px){
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
/**/
.cards-wrap {
    /*display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 80vh;*/
    position: relative;
}
.cards-wrap::after {
    content: " ";
    border-right: solid 1px rgba(0,0,0,.17);
    height: 100%;
    top: 0;
    left: 0;/* 50%;*/
    position: absolute;
}
.card-experience {
    padding: 1rem;
    width: 50%;
}
.card-experience__wrap{
    -webkit-box-shadow: -5px 20px 19px -8px rgba(0,0,0,0.25);
    -moz-box-shadow: -5px 20px 19px -8px rgba(0,0,0,0.25);
    box-shadow: -5px 20px 19px -8px rgba(0,0,0,0.25);
}
.card-experience__head {
    background-color: #46b8e9;
    color: white;
    position: relative;
}
.card-experience__head::after {
    content: "";
    width: 0;
    height: 0;
    border-color: #46b8e9;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.card-experience__head--left::after{
    border-left-width: 10px;
    border-left-style: solid;
    left: 100%;
}
.card-experience__head--right::after {
    border-right-width: 10px;
    border-right-style: solid;
    right: 100%;
}
.card-experience__head h2{
    font-size: 1.5rem;
    padding: .5rem;
}
.card-experience__body {
    padding: 1rem;
}
.text-list {
    font-size: .8rem;
    padding: 0 0 0 .5rem;
}
.company {
    display: block;
    font-size: .8rem;
}