@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
	box-sizing: border-box;
	margin: 0;
}
body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	color: #444444;
	font-weight: 500;
	font-size: 1.3rem;
}
.content {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.profile {
	position: relative;
	width: 270px;
	background-color: #27292b;
	overflow-y: scroll;
	height: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	float: left;
}
.profile__about {
	background-color: #2eb398;
}
.photo-wrap {
	padding: 2rem;
	padding-bottom: 0;
}
.photo-wrap__photo {
	padding: 0.25rem;
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-radius: 0.25rem;
	max-width: 100%;
	height: auto;
	clip-path: circle(45% at center);
}
.text-wrap {
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 1rem;
}
.myname {
	text-align: center;
	color: white;
	font-size: 2rem;
}
.extract {
	color: white;
	text-align: center;
	font-size: 1rem;
}
.nav-social-wrap {
	background-color: #222;
	padding-bottom: 1rem;
	padding-top: 1rem;
}
.nav-social {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
}
.nav-social__item {
	display: inline-block;
}
.nav-social__link {
	padding: 1rem;
	cursor: pointer;
	text-align: center;
	color: #fff;
	text-decoration: none;
}
.nav-section-wrap {
	padding-bottom: 1rem;
	padding-top: 1rem;
}
.nav {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 2rem;
}
.nav__item {
	display: block;
}
.nav__link {
	color: white;
	padding: 0.5rem;
	display: block;
	cursor: pointer;
}
.type-wrap {
	padding: 2rem 0.5rem;
}
.type-wrap__typewriter {
	margin: 0;
	color: white;
	overflow: hidden;
	white-space: nowrap;
	border-right: 0.15em solid #b2b2b2;
	letter-spacing: 0.15em;
	font-size: 1rem;
	display: inline-block;
	animation: typing 2s steps(30, end), blink-caret 0.5s infinite;
}
.type-wrap__typewriter--display {
	display: inline-block;
}
.slideRight {
	animation: slideRight 0.5s;
	margin-left: 80px;
}
.font-purple {
	color: #d16b7d;
}
.wrap__content {
	position: relative;
	padding: 2rem;
	overflow-y: scroll;
	height: 100%;
}
.wrap__content--margin {
	margin-left: 270px;
}
.section--hidden {
	display: none;
}
p.text-description {
	margin-bottom: 1rem;
}
/*Titles*/
.title-1 {
	font-size: 3rem;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
	margin-bottom: 0.8rem;
}
.title-2 {
	font-size: 2rem;
	margin-top: 0.5rem;
	margin-bottom: 0.8rem;
}
.title-3 {
	color: #444;
}
.title-4 {
	color: #aa3c50;
}
.title-1--color-green {
	color: #4a917f;
}
.title-1--color-gray {
	color: #444;
}
.activities {
	padding: 2rem 0 2rem 2rem;
}
.icon {
	text-align: center;
	padding: 0.5rem 2rem;
	width: 5rem;
	box-sizing: content-box;
}
.icon__wrap {
	display: inline-block;
}
/*Animations*/
@-webkit-keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
@-webkit-keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: #b2b2b2;
	}
}
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: #b2b2b2;
	}
}
@-webkit-keyframes slideRight {
	from {
		margin-left: 0;
	}
	to {
		margin-left: 80px;
	}
}
@keyframes slideRight {
	from {
		margin-left: 0;
	}
	to {
		margin-left: 80px;
	}
}
@-webkit-keyframes slideUp {
	from {
		visibility: hidden;
		opacity: 0;
	}
	to {
		visibility: visible;
		opacity: 1;
	}
}
@keyframes slideUp {
	from {
		visibility: hidden;
		opacity: 0;
	}
	to {
		visibility: visible;
		opacity: 1;
	}
}
/*Grid*/
.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
@media (min-width: 768px) {
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}
}
[class*='col-'] {
	float: left;
	padding: 15px;
}
/* Experience */
.cards-wrap {
	position: relative;
}
.cards-wrap::after {
	content: ' ';
	border-right: solid 1px rgba(0, 0, 0, 0.17);
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}
.card-experience {
	padding: 1rem 1rem 1rem 2rem;
	width: 50%;
}
@media (max-width: 1140px) {
	.card-experience {
		padding: 1rem 1rem 1rem 2rem;
		width: 100%;
	}
}
.card-experience__wrap {
	-webkit-box-shadow: -5px 20px 19px -8px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: -5px 20px 19px -8px rgba(0, 0, 0, 0.25);
	box-shadow: -5px 20px 19px -8px rgba(0, 0, 0, 0.25);
}
.card-experience__head {
	background-color: #2eb398; /*#46b8e9;*/
	color: white;
	position: relative;
}
.card-experience__head::before {
	content: '';
	border: solid;
	border-radius: 100%;
	width: 9px;
	height: 9px;
	position: absolute;
	left: -46px;
	bottom: 0;
	margin: auto 0;
	border-color: white;
	top: 0;
	background-color: #2eb398;
	z-index: 1;
	border-width: 10px;
}
.card-experience__head::after {
	content: '';
	width: 0;
	height: 0;
	border-color: #2eb398; /*#46b8e9;*/
	border-top: solid 10px transparent;
	border-bottom: solid 10px transparent;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
}
.card-experience__head--left::after {
	border-left-width: 10px;
	border-left-style: solid;
	left: 100%;
}
.card-experience__head--right::after {
	border-right-width: 10px;
	border-right-style: solid;
	right: 100%;
}
.card-experience__head h2 {
	font-size: 1.5rem;
	padding: 0.5rem;
}
.card-experience__body {
	padding: 1rem;
}
.text-list {
	font-size: 0.8rem;
	padding: 0 0 0 0.5rem;
}
.company {
	display: block;
	font-size: 0.8rem;
}
/**/
.card-experience__head--bg-color-1,
.card-experience__head--bg-color-1:before {
	background-color: #46b8e9;
}
.card-experience__head--bg-color-1::after {
	border-right-color: #46b8e9;
	border-left-color: #46b8e9;
}
.card-experience__head--bg-color-2,
.card-experience__head--bg-color-2:before {
	background-color: #ce43eb; /*#3ee9d1*/
}
.card-experience__head--bg-color-2::after {
	border-right-color: #ce43eb;
	border-left-color: #ce43eb;
}
.card-experience__head--bg-color-3,
.card-experience__head--bg-color-3:before {
	background-color: #2eb398;
}
.card-experience__head--bg-color-3::after {
	border-right-color: #2eb398;
	border-left-color: #2eb398;
}
.card-experience__head--bg-color-4,
.card-experience__head--bg-color-4:before {
	background-color: #4d92eb;
}
.card-experience__head--bg-color-4::after {
	border-right-color: #4d92eb;
	border-left-color: #4d92eb;
}
.card-experience__head--bg-color-5,
.card-experience__head--bg-color-5:before {
	background-color: #46b8e9;
}
.card-experience__head--bg-color-5::after {
	border-right-color: #46b8e9;
	border-left-color: #46b8e9;
}
.card-experience__head--bg-color-6,
.card-experience__head--bg-color-6:before {
	background-color: #3ee9d1;
}
.card-experience__head--bg-color-6::after {
	border-right-color: #3ee9d1;
	border-left-color: #3ee9d1;
}
.card-experience__head--display-flex {
	display: flex;
	align-items: center;
	padding: 0.5rem 0;
}
.card-experience__head h2.cup {
	font-size: 1.5rem;
	padding: 0 0.5rem;
}
.card-experience__cup {
	padding: 1rem;
	background-color: rgba(0, 0, 0, 0.17);
	margin-left: 0.5rem;
}
.postit {
	list-style: none;
	margin: 0;
	padding: 0;
}
.postit__wrap {
	margin: 1em;
	float: left;
}
.postit__card {
	text-decoration: none;
	color: #000;
	display: block;
	height: 8em;
	width: 8em;
	padding: 1em;
	font-family: 'Reenie Beanie';
	box-shadow: 4px 4px 7px rgba(33, 33, 33, 0.7);
}
.postit__card > h2 {
	font-weight: bold;
	font-size: 2rem;
}
.postit__wrap:nth-child(1) {
	transform: rotate(1deg);
}
.postit__wrap:nth-child(even) {
	transform: rotate(6deg);
}
.postit__wrap:nth-child(5n) {
	transform: rotate(-3deg);
}
.postit__card--color-1 {
	background-color: gold;
}
.postit__card--color-2 {
	background-color: greenyellow;
}
.postit__card--color-3 {
	background-color: mediumvioletred;
	color: white;
}
.postit__card--color-4 {
	background-color: #ffc;
}
.postit__card--color-5 {
	background-color: darkturquoise;
}
.devicon-visualstudio-plain--color-blue.colored {
	color: #0078d7;
}
@media (max-width: 540px) {
	.content {
		position: relative;
		padding-bottom: 70px;
	}
	.profile {
		display: none;
	}
	.profile-mobil {
		display: block;
		float: initial;
		overflow: initial;
		background-color: #2eb398;
		width: 100%;
		margin-bottom: -70px;
	}
	.profile__about {
		width: 270px;
		margin: auto;
	}
	.nav-section-wrap {
		display: none;
	}
	.nav-mobil-section .nav-social {
		justify-content: space-around;
	}
	.nav-movil-section-wrap .nav__link {
		color: black;
	}
	.nav-social-wrap--bg-color-gray-light {
		background-color: #27292b;
	}
	.nav-mobil-section {
		display: block;
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: 999999;
	}
	.wrap__content {
		margin: 0;
		overflow: initial;
	}
	.type-wrap {
		padding: 2rem 1rem;
	}
}
@media (min-width: 541px) {
	.profile-mobil {
		display: none;
	}
	.nav-mobil-section {
		display: none;
	}
}
.nav-social-wrap--dark-green {
	background-color: #028168;
}

/*==== Dark mode ====*/
.body--dark {
	color:#f1f1f1;
	background-color: #282828;
}
.body--dark .card-experience__head,
.body--dark .card-experience__head:before {
	/*background-color: #404040;
	border-color: #282828;*/
	border-color: #282828;
	/*filter: grayscale(60%);*/
}
.body--dark .card-experience__head::after {
	/*border-right-color: #404040;
	border-left-color: #404040;*/
	color:#f1f1f1;

	/*filter: grayscale(60%);*/
}
.body--dark .card-experience__body {
	/*background-color: #5E5E5E;*/
	background-color: #404040;
}
.body--dark .cards-wrap::after {
	border-right: solid 1px rgba(255, 255, 255, 0.17);
}
.body--dark .title-1 {
	color: #f1f1f1;
	text-shadow: none;
}
.body--dark .nav-mobil-section {
	background-color: #030302;
}
.body--dark .postit__card {
	/*background-color: #5E5E5E;
	color: #f1f1f1;*/
	filter: grayscale(60%);
}
.body--dark .profile {
	background-color: #282828;
}
.body--dark .profile__about {
    background-color: #282828;
}
.body--dark .nav-social-wrap {
	background-color: #404040;
}
.body--dark .icon {
	filter: grayscale(60%);
}
@media (max-width: 541px) {
	.body--dark .postit__card {
		filter: grayscale(90%);
	}
	.body--dark .icon {
		filter: grayscale(90%);
	}
	.body--dark .card-experience__head,
	.body--dark .card-experience__head:before {
		background-color: #404040;
		border-color: #282828;
		/*filter: grayscale(95%);*/
	}
	.body--dark .card-experience__head::after {
		border-right-color: #404040;
		border-left-color: #404040;
		color:#f1f1f1;
		/*filter: grayscale(95%);*/
	}
	.body--dark .card-experience__body {
		background-color: #5E5E5E;
	}
}